@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

$xfont: 'Lato';

$default-item-height: 38px; // 2.385em

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666;
  font-size: 14px;
}

*:focus {
  outline: none;
}

.img--assignment {
  display: flex;
}

.list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.list li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0 1em;
  & > .error-message-item {
    margin: 0 -1em;
  }
}

.list > span {
  display: block;
}

.list span:hover {
  cursor: pointer;
}

.list li:hover,
.list li .form-group input,
.btn-default:hover {
  color: #000;
  background-color: transparent;
}

.list {
  li:hover {
    // background-color: darken(#fff, 3);
  }
}

.btn-default {
  transition: .3s all linear;
  color: #808080;
}

.btn-default:hover {
  border-color: #000;
}

.list li :after {
  display: table;
  content: "";
  clear: both;
}

.list li {
  line-height: $default-item-height;
  height: $default-item-height;
  padding: 1px 1em;
}

.list li .form-group {
  margin: 0;
  line-height: $default-item-height;
  height: $default-item-height;
}

.list li > span {
  line-height: $default-item-height;
  height: $default-item-height;
  display: block;
}

.list li .form-control {
  display: inline-block;
  width: 50%;
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.form-control {
  transition: .3s all linear;
}

.form-control:focus,
input:focus {
  outline: none;
  box-shadow: none;
  border-color: #333;
}

.top-offset {
  padding-top: 1em;
}

.enlarge {
  width: 50% !important;
}

.enlarge:focus {
  width: 100% !important;
}

.error {
  color: #f44336;
  font-size: 0.85em;
  display: block;
}

.btn-add {
  width: 50px;
}

.add-input-error {
  padding-left: 50px;
  margin-top: .5em;
}

.shortcuts {
  position: absolute;
  bottom: 60px;
}

.shortcuts ul {
  padding: 0;
}

.shortcuts code {
  margin-right: .5em;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@import 'loader';
