@mixin createCurve($size) {
  border-top: 2px solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  margin-left: -($size/2);
  margin-top: -($size/2);
}

.loader {
  @include createCurve(140px);
  animation: spin 1.5s linear 0s infinite;
  border-color: #666;
}

.loader:before {
  content: "";
  @include createCurve(100px);
  animation: spin 1s linear 0s infinite;
  border-color: #333;
}

.loader:after {
  content: "";
  @include createCurve(120px);
  animation: spin .5s linear 0s infinite reverse;
  border-color: #ccc;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
